/* Estilos de la imagen principal */
.main-img{
    height:62vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos de las universidades asociadas (página de inicio) */
.school-partners{
    height: 8vh;
    width: 24vh;
    filter: grayscale(100%);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
    margin-bottom: 12vh;
    margin-right: 8vh;
}


/* image's source */
#inicio{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/student.jpg');
}

#school{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/school.jpg');
}

#support{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/soporte.jpg');
}

#teachers{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/teacher.jpg');
}

#u1{
    background-image:url('/img/1.png');
}
#u2{
    background-image:url('/img/2.png');
}
#u3{
    background-image:url('/img/3.png');
}
#u4{
    background-image:url('/img/4.png');
}
#u5{
    background-image:url('/img/9.png');
}



footer{
background-color: #eeeeee;
color: #5f5f5f;
font-size: small
}

footer div div ul{
    list-style-type: none;
}

.footer-link{
    text-align: center;
    width: 8rem;
}

#tag{
    font-size: smaller;
    color:#cccccc;
}

/* css de student y teachets */

.text-img{
    color: white;
    font-size: 38px;

}
.columna{
    width: 20rem;
    padding-left:35px ;
    padding-right: 35px;
}

.columna h2{
    font-size: 40px;
}
.columna h6{
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.columna  li{
    font-size: 18px;
}




.borde-grueso {
    border: 5px solid #016C65 ; 
    }

#students{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/students-programming.jpg');
}

.hr-line{
    border-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}
        
.boton{
    background-color: #016C65;
    color: white;
    display: inline-block;
    padding: 10px 20px; 
    font-size: 24px; 
    text-align: center;
    text-decoration: none;
    border: 1px solid #02645e; 
    margin-bottom: 10px;
}

.botones{
    color: #676767;
    background-color: #bbbbbb;
    display: inline-block;
    padding: 10px 20px; 
    font-size: 24px; 
    text-align: center;
    text-decoration: none;
    border: 1px solid #b6b6b6; 
    margin-bottom: 10px;
}

.text-student{
    width: 50rem;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .text-student {
        width: 100%;
    }
  }
  
  /* Media query para pantallas muy pequeñas */
  @media (max-width: 576px) {
    .text-student {
        width: 100%;
    }
  }


.h2-student{
    padding-top: 30px;
}
.p-student{
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 24px;
}


.contenedor-verde{
    background-color: #016c65; 
    color: white;

}

.contenedor-verde h2 strong{
    font-size: 38px;
}
.contenedor-verde ul li {
    font-size:16px;
    line-height:1.8

}
.contenedor-verde  .derecha {
    padding-right: 30px;
    align-items: center;
    background-color: #353535;
    width: 40rem;
}


.host-free {
    margin-top: 50px;
    width: 35%;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 3px;
    border: #02645e 3px dashed;
}

.host-free .title{
    font-size: 28px;
    margin-top: 30px;
    padding-left:20px ;
    padding-right: 20px;
}
.host-free .text{
    font-size: 17px;
    margin-bottom: 32px;
    padding-top: 10px;
    padding-left:20px ;
    padding-right: 20px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .host-free {
        width: 80%;
    }
  }
  
  /* Media query para pantallas muy pequeñas */
  @media (max-width: 576px) {
    .host-free {
        width: 80%;
    }
  }

.text-teachers{
    width: 50rem;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .text-teachers {
        width: 100%;
    }
  }
  
  /* Media query para pantallas muy pequeñas */
  @media (max-width: 576px) {
    .text-teachers {
        width: 100%;
    }
  }

.text-teachers h2{
    font-size: 28px;
    padding: 42px 0px 14px;
}
.text-teachers p{
    font-size: 17px;
    color: #353535;
}


.school-text1{
    margin-bottom: 32px;
}

.school-img{
    margin-bottom: 32px;
}

.school-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .school-logo {
    filter: grayscale(100%);
  }

  .contenedor {
    display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
}

.menu-link {
    list-style-type: none;
}

.menu-link-li {
    color: #016c65;
}